<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077050294613-ms2dclouvgviihpd69t6c6nb8ctjjktr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077050294613-ms2dclouvgviihpd69t6c6nb8ctjjktr</string>
	<key>API_KEY</key>
	<string>AIzaSyCLa5Ldyq22WYWqgKgQD7JuBkAtK-VaCmw</string>
	<key>GCM_SENDER_ID</key>
	<string>1077050294613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecnics.ShoppingApp</string>
	<key>PROJECT_ID</key>
	<string>shoppingapptrail2</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingapptrail2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077050294613:ios:147282b4bf6943ae35afdc</string>
</dict>
</plist>